body{
    background: url("https://img.freepik.com/free-vector/sphere-grid-wave-with-binary-code-ai-artificial-intelligence-logo-hand-machine-learning-concept_127544-855.jpg?w=2000&t=st=1673110458~exp=1673111058~hmac=14efda767fe4c69d44d2cfa48211bd249f2ecc874a4088f96812bfe1e4a20444");
    background-size: cover;
    color: rgb(218, 223, 68);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}